<div id="topDiv">
  <h1>Todo List</h1>  
  <mat-form-field appearance="legacy">
    <input matInput [(ngModel)]="newTodoTitle" placeholder="Ex: Learn Go">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addTodo()">Add</button>
</div>
<ng-container *ngIf="(todoList$$ | async).length; else loading">
  <mat-card *ngFor="let todo of todoList$$ | async">
    <mat-checkbox [checked]="todo.complete" (change)="toggleTodo(todo)" color="primary">
      <span class="checkboxText">
        {{todo.title}}
      </span>
    </mat-checkbox>
    <button mat-button (click)="deleteTodo(todo)" style="float: right;">
      <img src="assets/baseline_delete_outline_black_18dp.png">
    </button>
  </mat-card>
  </ng-container>
  <ng-template #loading>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
